<h2>Results</h2>
</br>
<h4>Search by Text:</h4>
  <%= form_tag(search_post_path_url, method: :get) do%>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag("Search") %>
  <%end%>

<%= link_to "#football", '/posts/search?search=%23football&commit=Search', method: :get %>
<%= link_to "#sports", '/posts/search?search=%23sports&commit=Search', method: :get %>
<%= link_to "#cars", '/posts/search?search=%23cars&commit=Search', method: :get %>
<%= link_to "#food", '/posts/search?search=%23food&commit=Search', method: :get %>
<%= link_to "#men", '/posts/search?search=%23men&commit=Search', method: :get %>
<%= link_to "#women", '/posts/search?search=%23women&commit=Search', method: :get %>
<%= link_to "#kids", '/posts/search?search=%23kids&commit=Search', method: :get %>
<%= link_to "#developers", '/posts/search?search=%23developers&commit=Search', method: :get %>



<table>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th></th>
  </tr>
  <% @search.each do |search| %>
    <tr>
      <td><%= search.user %></td>
      <td><%= search.text %></td>
    </tr>
  <% end %>
</table>